# Sensitive GCP Credentials - NEVER PUSH TO GITHUB
application_default_credentials.json
credentials.json
*.json
!.gitignore

# Environment & Python Cache
.env
venv/
__pycache__/
*.pyc

# Docker & OS artifacts
.DS_Store